header {
  margin-top: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  color: #1360DB;
}
header h1 {
  font-size: 50px;
  text-align: center;
}
header h3 {
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}
#listeditems{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}
#categories{
  position: absolute;
  font-family: 'Abhaya Libre';
  font-size: 22px;
}
#subcategories{
  color: #1360DB;
}
#listeditems a{
  color: #53A021;
  transition: 400ms all;
  text-decoration: none;
  font-family: 'Poiret One';
  font-size: 18px;
  font-weight: bold;
}
#listeditems a:hover{
  font-size: 20px;
  color: #1360DB;
p{
  color: #444444;
  font-size: 14px;
  font-family: 'Abhaya Libre';
}

li:hover {
  cursor: pointer;
}
