#mainimages {
  width: 1000px;
  margin: 0 auto;
}

#mainimages img {
  margin-top: 2em;
}

nav {

}

#navimg {
  margin: 0;
}

form {
  margin: 10px auto;
  text-align: center;
}

#mainDiv {
  margin: 10px auto;
  text-align: center;
}
