#buttons {
  margin-top: 100px;
  margin-left: 200px;
  display: inline-block;
  position: absolute;
}

table {
  max-width: 960px;
  margin: 0 auto;
}

table td {
  border: 1px solid black;
}

table th {
  border: 2px solid black;
}
