body {
  margin: 0 auto;
}

nav {
  height: 60px;
  margin: 20px auto;
  padding: 0px;
  width: 1000px;
  min-width: 800px;
}

ul, li {
  display: inline-block;
  float:left;
  padding:0px;
  margin:0px;
}

ul {
  margin-left: 80px;
}

nav img {
  float:left;
}

li {
  width: 25%;
  min-width: 240px;
  padding-top: 14px;
  padding-bottom: 11px;
  color: #73BE43;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #53A021;
  transition: 400ms all;
}

a:hover {
  font-size: 33px;
  color: #1360DB;
}
