body {
  margin: 0 auto;
}

nav {
  height: 60px;
  margin: 20px auto;
  padding: 0px;
  width: 1000px;
  min-width: 800px;
}

nav ul, nav li {
  display: inline-block;
  float:left;
  padding:0px;
  margin:0px;
}

nav ul {
  margin-left: 60px;
}

nav img {
  float:left;
  margin-left: 20px;
  width: 200px;
  height: 64px;
  margin-top: -10px;
  }

nav li {
  width: 25%;
  min-width: 240px;
  padding-top: 14px;
  padding-bottom: 11px;
  color: #73BE43;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #53A021;
  transition: 400ms all;
}

nav a:hover {
  font-size: 33px;
  color: #1360DB;
}
