body {
  margin: 0 auto;
}

nav {
  height: 100px;
  margin: 20px auto;
  padding: 0px;
  /*width: 100%;*/
  max-width: 1000px;
}

nav ul {
  margin-top: 9px;
  margin-right: 23px;
  padding: 0;
  display: fixed;
  float: right;
}

nav ul, nav li {

  /*padding:0px;
  margin:0px;*/
}

nav img {
  float:left;
  margin-left: 16px;
  width: 236px;
  margin-top: -10px;
}

#logo-container {
  display: inline-block;
  width: 30vw;
  min-width: 224px;
  height: 100%;
}

.typcn-info:hover {
  display: none;
}
nav ul:hover .typcn-info{
  display: none;
}

nav ul:hover li {
  display: block;
}

nav ul:hover {
  width: 120px;
}

nav li {
  float: right;
  display: none;
  /*width: 20vw;*/
  /*height: 60px;*/
  padding: 0;
  height: 45px;
  color: #439E33;
  font-family: 'Poiret One', cursive;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  /*border-left: 1px solid #cccccc;*/
}

nav li a {
  display: block;
  margin: 0;
  z-index: 20;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: #497E33;
  transition: 300ms all;
}

nav a:hover {
  font-size: 110%;
  color: #1360DB;
}

@media screen and (min-width: 596px) {
  .typcn-info {
    display: none;
  }
  nav ul, nav ul:hover {
    /*margin-left: 10px;*/
    margin-right: 8px;
    width: 50vw;
  }

  nav li a {
    display: inline-block;
    margin: 13px 0;
  }

  nav li {
    float:left;
    display: inline-block;;
    width: 30%;
    height: 60px;
    color: #439E33;
    font-family: 'Poiret One', cursive;
    font-size: 3vw;
    border-left: 1px solid #cccccc;
  }

  nav li:first-of-type {
    width: 39%;
  }

  nav img {
    margin-left: 20px;
    margin-top: -8px;
  }

  #main {
    margin-top: 30px;
  }
}

@media screen and (min-width: 860px) {
  nav ul, nav ul:hover {
    /*margin-left: 10px;*/
    width: 480px;
    margin-right: 30px;
  }

  nav li {
    font-size: 30px;
  }
  nav img {
    margin-left: 30px;
    margin-top: -4px;
  }
}
