body {
  margin: 0 auto;
}

nav {
  height: 60px;
  margin: 20px auto;
  padding: 0px;
  width: 100%;
}

nav ul, nav li {
  display: inline-block;
  float:right;
  padding:0px;
  margin:0px;
}

nav ul {
  margin-left: 10px;
}

nav img {
  float:left;
  margin-left: 20px;
  width: 200px;
  height: 64px;
  margin-top: -10px;
}

#logo-container {

}

nav li {
  width: 20vw;
  min-height: 38px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #439E33;
  font-family: 'Poiret One', cursive;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid #cccccc;
}

nav li a {
  display: inline-block;
  vertical-align: middle;
}

nav a {
  text-decoration: none;
  color: #497E33;
  transition: 300ms all;
}

nav a:hover {
  font-size: 4vw;
  color: #1360DB;
}
