@-webkit-keyframes animation {
  0% { margin-left: -100px; margin-top: -100px;}
  50% { margin-left: 600px; margin-top: -200px; width: 250px; height: 250px;}
  100% { margin-left: 920px; margin-top: 100px;}
}

@keyframes animation {
  0% { margin-left: -100px; margin-top: -100px;}
  50% { margin-left: 600px; margin-top: -200px; width: 250px; height: 250px;}
  100% { margin-left: 920px; margin-top: 100px;}
}

#apple-animation {
  width: 100px;
  height: 150px;
  margin-left: -120px;
  position: absolute;
  animation: animation 1s linear, spin 1s linear;
  -webkit-animation: animation 1s linear, spin 1s linear;
  -moz-animation: animation 1s linear, spin 1s linear;
  -ms-animation: animation 1s linear, spin 1s linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(-1080deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-1080deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-1080deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(-1080deg); }
}


#apple {
  display: none;
}
