@-webkit-keyframes catanimation {
  0% { margin-left: -100px; margin-top: -100px;}
  50% { margin-left: 100px; margin-top: -200px; width: 250px; height: 250px;}
  100% { margin-left: 250px; margin-top: 100px;}
}

@keyframes catanimation {
  0% { margin-left: -100px; margin-top: -100px;}
  50% { margin-left: 100px; margin-top: -200px; width: 250px; height: 250px;}
  100% { margin-left: 250px; margin-top: 100px;}
}

#cat-animation {
  width: 100px;
  height: 100px;
  margin-left: -120px;
  -webkit-animation-name: catanimation; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  animation-name: catanimation;
  animation-duration: 1s;
  animation-timing-function: linear;
  position: absolute;
}

#cat {
  display: none;
}
