#mainimages {
  position: fixed;
  width: 1000px;
  vertical-align: top;
  margin: 0 auto;
  bottom: -38px;
  left: 10%;
  z-index: -3;
}

#mainimages img {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  position: relative;
}
#navimg img {
  width: 200px;
  height: 60px;
}

.garbage {
  position: relative;
  display: inline-block;
  z-index: -1;
}

.recycle {
  position: relative;
  display: inline-block;
  margin-left: 300px;
  z-index: -1;
  margin-left: 0px;
}

.compost {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  z-index: -1;
}

.compost h3, .recycle h3, .garbage h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  margin-left: 74px;
  margin-top: -280px;
}

.recycle h3 {
  margin-left: 81px;
}

.garbage h3 {
 margin-left: 76px;
}

form {
  margin: 10px auto;
  text-align: center;
}

#main {
  margin: 10px auto;
  margin-top: 70px;
  text-align: center;
  max-width: 50%;
  font-family: 'Poiret One';
  font-size: 150%;
  font-weight: bold;
  min-height: 100px;
}

button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 16px;
  padding: 10px 20px;
  background-color: #ffc879;
  margin: 0 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 3px outset gray;
  transition: 200ms all;
}

button:hover {
  border: 3px outset orange;
  z-index: 10;
}

input {
  width: 300px;
  height: 30px;
  font-family: 'Poiret One';
  font-weight: bold;
  font-size: 18px;
}

#submitbutton {
  padding: 10px 20px;
  background-color: #ffc879;
  width: auto;
  height: auto;
  margin-left: 30px;
  border-radius: 4px;
  border: 3px outset gray;
}

#submitbutton:hover {
  border: 3px outset orange;
}

#submitbutton:active {
  /*background-color: #99dd99;*/
  border: 3px inset orange;
}

.hidden {
   display: none;
   font-family: 'Poiret One';
   font-weight: bold;
   width: auto;
   height: auto;
   /*margin-left: 575px;*/
   margin: 0 auto;
   border-radius: 4px;
   border: 3px outset gray;
 }

#searchStr {
  vertical-align: middle;
  max-width: 400px;
  margin: 10px auto;
  margin-top: 0;
  text-align: center;
  font-family: 'Poiret One';
  text-shadow: -1px 0 #EEEEEE, 0 1px #EEEEEE, 1px 0 #EEEEEE, 0 -1px #EEEEEE;
}
