#mainimages {
  position: fixed;
  width: 100%;
  vertical-align: top;
  margin: 0 auto;
  margin-left: 3vw;
  /*top: 50%;*/
  bottom: -2.5em;
  z-index: -3;
}

#mainimages .can {
  width: 30%;
  display: inline-block;
}

#mainimages img {
  display: inline-block;
  /*vertical-align: bottom;*/
  width: 100%;
  z-index: -5;
}

#navimg img {
  width: 200px;
  height: 60px;
}

.can h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 3.7vw;
  color: #ffffff;
  text-shadow: 0px 0px 7px black;
  position: absolute;
  bottom: 50%;
  margin: 0 1.8em;
  z-index: 1;
}

.can#recycle h3 {
  margin: 0 1.96em;
}

.can#compost h3 {
  margin: 0 1.76em;
}

form {
  margin: 10px auto;
  text-align: center;
  min-width: 306px;
}

#main {
  margin: 10px auto;
  margin-top: 70px;
  text-align: center;
  /*max-width: 50%;*/
  font-family: 'Poiret One';
  font-size: 150%;
  font-weight: bold;
  min-height: 100px;
}

button {
  display: inline-block;
  font-family: 'Poiret One';
  font-size: 16px;
  padding: 10px 20px;
  background-color: #ffc879;
  margin: 0 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 3px outset gray;
  transition: 200ms all;
}

button:hover {
  border: 3px outset orange;
  z-index: 10;
}

input {
  width: 300px;
  height: 30px;
  font-family: 'Poiret One';
  font-weight: bold;
  font-size: 18px;
}

#submitbutton {
  padding: 10px 20px;
  background-color: #ffc879;
  width: auto;
  height: auto;
  margin-top: 4px;
  border-radius: 4px;
  border: 3px outset gray;
}

#submitbutton:hover {
  border: 3px outset orange;
}

#submitbutton:active {
  /*background-color: #99dd99;*/
  border: 3px inset orange;
}

.hidden {
   display: none;
   font-family: 'Poiret One';
   font-weight: bold;
   width: auto;
   height: auto;
   margin: 0 auto;
   border-radius: 4px;
   border: 3px outset gray;
 }

#searchStr {
  vertical-align: middle;
  max-width: 400px;
  margin: 10px auto;
  margin-top: 0;
  text-align: center;
  font-family: 'Poiret One';
  text-shadow: -1px 0 #EEEEEE, 0 1px #EEEEEE, 1px 0 #EEEEEE, 0 -1px #EEEEEE;
}
