header {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  margin-left: -50px;
  font-family: 'Abhaya Libre', serif;
}

section {
  height: 200px;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

#quiz {
  font-family: 'Poiret One', cursive;
  color: #1360DB;
  font-weight: bold;
  list-style: none;
  font-size: 30px;
  max-width: 600px;
  margin-left: 180px;
}

#buttons {
  margin-left: 340px;
  margin-top: 130px;
  display: inline-block;
  position: absolute;
}

#yes-button {
  border: none;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  background-color: #FF7100;
  padding: 20px 40px;
  transition: 400ms all;
  position: absolute;
  display: inline-block;
  border-radius: 3px;
  border-bottom: 3px solid #A04700;
}

#yes-button:hover {
  background-color: #FF9A49;
}

#no-button {
  border: none;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  background-color: #FF7100;
  padding: 20px 41px;
  transition: 400ms all;
  position: absolute;
  display: inline-block;
  margin-left: 120px;
  border-radius: 3px;
  border-bottom: 3px solid #A04700;
}

#no-button:hover {
  background-color: #FF9A49;
}

table {
  max-width: 960px;
  margin: 0 auto;
  margin-top: -220px;
}

table td {
  border: 1px solid #000000;
  padding: 5px 10px;
  color: #1360DB;
}

table th {
  border: 2px solid #000000;
  color: #1360DB;
}
