header {
  margin-top: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  padding: 10px 0px 10px 200px;
  color: #1360DB;
  width: 100%;
  background-color: #dcdcdc;
  text-shadow: -3px 3px white;
}

.aboutimages img {
  border-radius: 90%;
  margin-left: 30px;
  margin-top: 60px;
  height:300px;
  width: 300px;
}

.aboutimages p {
  position: absolute;
  margin-top: -250px;
  margin-left: 400px;
  max-width: 700px;
  font-family: 'Abhaya Libre';
  color: #444444;
}

.aboutimages .item {
  position: absolute;
  margin-top: -100px;
}

.aboutimages h3 {
  font-family: 'Poiret One';
  font-weight: bold;
  position: absolute;
  margin-top: 70px;
  margin-left: 400px;
  font-size: 22px;
}

.linkedin img {
  width: 50px;
  height: 50px;
  margin-top: -70px;
  margin-left: 32%;
  position: absolute;
}

.github img {
  width: 45px;
  height: 45px;
  margin-top: -67px;
  margin-left: 37%;
  position: absolute;
}
