header {
  margin-top: 50px;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  color: #1360DB;
}
header h1 {
  font-size: 50px;
  text-align: center;
}
header h3 {
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}
#listeditems{
  margin: 0 auto;
  position: relative;
}
#categories{
  position: absolute;
  font-family: 'Work Sans';
  font-size: 20px;
  margin-left: 30px;
  list-style: none;
  width: 87%;
}
#subcategories{
  color: #1360DB;
}
#listeditems a{
  color: #53A021;
  transition: 400ms all;
  text-decoration: none;
  font-family: 'Poiret One';
  font-size: 18px;
  font-weight: bold;
}
#listeditems a:hover{
  font-size: 20px;
  color: #1360DB;
}

p {
  color: #444444;
  font-size: 14px;
  font-family: 'Work Sans';
}

.mainlis {
  transition: 200ms all;
  cursor: pointer;
  position: relative;
  border-top: 1px solid #ddddff;
}

.mainlis:hover, .big {
  position: relative;
  transition: 200ms all;
  cursor: pointer;
  font-size: 1.05em;
  border-top: 1px solid #ddddff;
}

#categories li {
  padding: 4px;
  padding-left: 100px;
}
